<div id="client-ui">
    <div id="loader-wrapper" [@fadeOut]=loaded>
      <div id="loader-info">
        <div id="loader-circle"></div>
        <span id="loader-progress">0%</span>
      </div>
      <div id="loader-photo">
        <img src="assets/images/client/default.png" />
      </div>
    </div>

    <div id="client-flash">
      <div class="container">
        <div class="row d-block align-items-center text-center">
          <div class="flash-illustration"></div>

          <span id="flash-title" class="mb-4 d-block">Oh Bobba!</span>
          <span id="flash-desc" class="w-25">Klick <a href="https://get.adobe.com/de/flashplayer" target="_blank">hier</a> und dann auf "Flash aktivieren", sobald du dazu aufgefordert bist. <br /> Wir sehen uns im Hotel!</span>
        </div>
      </div>
    </div>

    <div id="disconnected">
      <div id="flash-center">
          <div class="ilustration"></div>
          <p class="mt-3">Getrennt!</p>
          <p style="font-size: 12px;">Du hast die Verbindung zum Hotel verloren.</p><br>
          <a routerLink='/' class="dc-btn">Bring mich zurück! <b>»</b></a>
      </div>
    </div>

    <div class="client-icon client-web" (click)="back()"></div>
    <div class="client-icon client-fullscreen"></div>
  
    <div id="client" #client></div>

    <ng-container *ngIf="commands">
      <ul id="commands-list" class="list-group" [@slideInOut]=commandTrigger>
        <h5>alle commands für "<span id="command">{{ chatInput }}</span>"</h5>
        
        <ng-container *ngFor="let cmd of commands">
          <li class="list-group-item" (click)="handleCommand(cmd.command)">:{{ cmd.command }}</li>
        </ng-container>
      </ul>
    </ng-container>
</div>
