<div class="bobba-hero" style="background-image: url('assets/images/banner.png')">
    <div class="container">
        <div class="bobba-hero-text">
            <h3>Team</h3>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-12 mb-3">
            <h5 class="section-title">
                Projektleitung
                <span class="section-pattern light"></span>
            </h5>

            <app-team-management></app-team-management>
        </div>

        <div class="col-12">
            <h5 class="section-title">
                Management
                <span class="section-pattern light"></span>
            </h5>

            <app-team-administration></app-team-administration>
        </div>

        <div class="col-12">
            <h5 class="section-title">
                Moderation
                <span class="section-pattern light"></span>
            </h5>

            <app-team-moderators></app-team-moderators>
        </div>

        <div class="col-12">
            <h5 class="section-title">
                GameX & Helper
                <span class="section-pattern light"></span>
            </h5>

            <app-team-helpers></app-team-helpers>
        </div>
    </div>
</div>